<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>240046804256-ov9615hl716k1b89t5rpha0rfumg8oqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240046804256-ov9615hl716k1b89t5rpha0rfumg8oqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDW2Bni3beoAZyCLg3QkqF7uAb9xUBVoDY</string>
	<key>GCM_SENDER_ID</key>
	<string>240046804256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gl.clientAppointime</string>
	<key>PROJECT_ID</key>
	<string>appointime-a8c5f</string>
	<key>STORAGE_BUCKET</key>
	<string>appointime-a8c5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240046804256:ios:24998d6030b2a24c</string>
	<key>DATABASE_URL</key>
	<string>https://appointime-a8c5f.firebaseio.com</string>
</dict>
</plist>